<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RfidBus.Service.Location.Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <RfidBus.Service.Location.Manager.Properties.Settings>
      <setting name="ConnectionString" serializeAs="String">
        <value>XpoProvider=MSAccess;Provider=Microsoft.Jet.OLEDB.4.0;Mode=Share Deny None;data source=Database\database.mdb;user id=;password=;</value>
      </setting>
      <setting name="BusHost" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="BusPort" serializeAs="String">
        <value>20000</value>
      </setting>
      <setting name="BusLogin" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="BusPassword" serializeAs="String">
        <value>admin</value>
      </setting>
    </RfidBus.Service.Location.Manager.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RfidCenter.Basic" publicKeyToken="c77c3fea3fdc4436" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.8.1" newVersion="1.0.8.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RfidBus.Primitives" publicKeyToken="c77c3fea3fdc4436" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RfidCenter.Devices" publicKeyToken="c77c3fea3fdc4436" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.1" newVersion="2.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RfidCenter.Printing" publicKeyToken="c77c3fea3fdc4436" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>